# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/
.env

# Mac / system files
.DS_Store

# Logs
*.log

# Ignore dataset
exhibits_construction_helpers/data/

# Ignore results
/results*/
metrics_summary.png
metrics_summary.tex
missing_final_results.json
Modelfile
openai_response_record.json
missing_final_results-checkpoint.json